@use "SOURCE/ABOUT_ME";
@use "SOURCE/NAVIGATION";
@use "SOURCE/MAIN_SECTION";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    MARGIN: 0;
    PADDING: 0;
    OUTLINE: NONE;
    BOX-SIZING: BORDER-BOX;
    FONT-FAMILY: "POPPINS", SANS-SERIF;
}

HTML::-webkit-scrollbar {
    display: none;
}

A {
    COLOR: #000;
    TEXT-DECORATION: NONE;
}

LI {
    LIST-STYLE: NONE;
}

DIV.NAVIGATION_CONTAINERS {
    WIDTH: 1250PX;
    MARGIN: 0 AUTO;
}

DIV.CONTAINERS {
    WIDTH: 1250PX;
    MARGIN: 0 AUTO;
}