@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
SECTION.ABOUT_SECTION {
  PADDING: 100PX 0;
  BORDER-BOTTOM: 2PX SOLID #000000;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION {
  DISPLAY: FLEX;
  ALIGN-ITEMS: CENTER;
  ALIGN-CONTENT: CENTER;
  JUSTIFY-CONTENT: SPACE-BETWEEN;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.RIGHT_SECTION {
  PADDING-RIGHT: 30PX;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.RIGHT_SECTION DIV.TITLE_SECTION P.TITLE {
  FONT-SIZE: 100PX;
  FONT-WEIGHT: 900;
  LINE-HEIGHT: 90PX;
  FONT-FAMILY: "INTER", SANS-SERIF;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.LEFT_SECTION {
  PADDING-LEFT: 30PX;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.LEFT_SECTION DIV.TITLE_SECTION P.TITLE {
  FONT-SIZE: 32PX;
  FONT-WEIGHT: 800;
  TEXT-ALIGN: JUSTIFY;
  FONT-FAMILY: "INTER", SANS-SERIF;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.LEFT_SECTION DIV.TEXT_SECTION {
  PADDING-TOP: 25PX;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.LEFT_SECTION DIV.TEXT_SECTION P.DESCRIPTION {
  OPACITY: 0.9;
  PADDING: 10PX 0;
  FONT-SIZE: 18PX;
  FONT-WEIGHT: 400;
  TEXT-ALIGN: JUSTIFY;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.LEFT_SECTION DIV.TEXT_SECTION DIV.LINE {
  WIDTH: 100%;
  HEIGHT: 2PX;
  MARGIN-TOP: 30PX;
  BACKGROUND-COLOR: #000000;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.LEFT_SECTION DIV.TEXT_SECTION DIV.SUB_TITLE_SECTION {
  PADDING-TOP: 35PX;
  PADDING-BOTTOM: 15PX;
}
SECTION.ABOUT_SECTION DIV.CONTAINERS DIV.CONTENTS_SECTION DIV.LEFT_SECTION DIV.TEXT_SECTION DIV.SUB_TITLE_SECTION P.SUB_TITLE {
  OPACITY: 0.7;
  FONT-SIZE: 18PX;
  FONT-WEIGHT: 700;
  TEXT-ALIGN: JUSTIFY;
  FONT-FAMILY: "INTER", SANS-SERIF;
}

SECTION.NAVIGATION {
  PADDING: 15PX 0;
  BORDER-BOTTOM: 2PX SOLID #000000;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV {
  DISPLAY: FLEX;
  ALIGN-ITEMS: CENTER;
  ALIGN-CONTENT: CENTER;
  JUSTIFY-CONTENT: SPACE-BETWEEN;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV DIV.NAV_LOGO {
  FONT-SIZE: 24PX;
  FONT-WEIGHT: 700;
  LETTER-SPACING: -0.5PX;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV DIV.NAV_LOGO:HOVER {
  FONT-STYLE: ITALIC;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV UL.NAV_MENU {
  DISPLAY: FLEX;
  ALIGN-ITEMS: CENTER;
  ALIGN-CONTENT: CENTER;
  JUSTIFY-CONTENT: CENTER;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV UL.NAV_MENU LI.NAV_MENU_ELEMENT {
  MARGIN: 0 15PX;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV UL.NAV_MENU LI.NAV_MENU_ELEMENT:NTH-CHILD(1) {
  MARGIN-LEFT: 0;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV UL.NAV_MENU LI.NAV_MENU_ELEMENT:LAST-CHILD {
  MARGIN-RIGHT: 0;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV UL.NAV_MENU LI.NAV_MENU_ELEMENT A {
  FONT-SIZE: 15PX;
  FONT-WEIGHT: 600;
  LETTER-SPACING: 1.5PX;
}
SECTION.NAVIGATION DIV.NAVIGATION_CONTAINERS NAV.NAV UL.NAV_MENU LI.NAV_MENU_ELEMENT A:HOVER {
  COLOR: #0047FF;
}

SECTION.MAIN_SECTION {
  HEIGHT: 100VH;
  BORDER-BOTTOM: 2PX SOLID #000000;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION {
  TOP: 50%;
  POSITION: RELATIVE;
  TRANSFORM: TRANSLATEY(-50%);
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS {
  POSITION: RELATIVE;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.TITLE_SECTION {
  PADDING-BOTTOM: 30PX;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.TITLE_SECTION P.TITLE {
  FONT-SIZE: 128PX;
  FONT-WEIGHT: 900;
  LINE-HEIGHT: 110PX;
  LETTER-SPACING: -4PX;
  FONT-FAMILY: "INTER", SANS-SERIF;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.SUB_TITLE_SECTION {
  PADDING-LEFT: 25PX;
  MARGIN-BOTTOM: 30PX;
  BORDER-LEFT: 4PX SOLID #000000;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.SUB_TITLE_SECTION P.SUB_TITLE_ONE {
  FONT-SIZE: 24PX;
  FONT-WEIGHT: 500;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.SUB_TITLE_SECTION P.SUB_TITLE_TWO {
  FONT-SIZE: 24PX;
  FONT-WEIGHT: 500;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.LINK_SECTION A.LINK_ONE {
  PADDING: 15PX 28PX;
  DISPLAY: INLINE-FLEX;
  BORDER: 1PX SOLID #000000;
  BACKGROUND-COLOR: #000000;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.LINK_SECTION A.LINK_ONE SPAN {
  COLOR: #FFFFFF;
  FONT-SIZE: 15PX;
  FONT-WEIGHT: 600;
  LETTER-SPACING: 1PX;
  PADDING-RIGHT: 12PX;
  FONT-FAMILY: "INTER", SANS-SERIF;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.LINK_SECTION A.LINK_ONE IMG {
  WIDTH: 20PX;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.LINK_SECTION A.LINK_TWO {
  PADDING: 15PX 28PX;
  DISPLAY: INLINE-FLEX;
  BORDER: 1PX SOLID #000000;
  BACKGROUND-COLOR: #000000;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.LINK_SECTION A.LINK_TWO SPAN {
  COLOR: #FFFFFF;
  FONT-SIZE: 15PX;
  FONT-WEIGHT: 600;
  LETTER-SPACING: 1PX;
  PADDING-RIGHT: 12PX;
  FONT-FAMILY: "INTER", SANS-SERIF;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.LINK_SECTION A.LINK_TWO IMG {
  WIDTH: 20PX;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.WATER_MARKS {
  TOP: 50%;
  Z-INDEX: -1;
  POSITION: ABSOLUTE;
  TRANSFORM: TRANSLATEY(-50%);
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.WATER_MARKS P {
  FONT-SIZE: 400PX;
  FONT-WEIGHT: 900;
  COLOR: #F5F5F5;
  FONT-FAMILY: "INTER", SANS-SERIF;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.SIDE_TEXT {
  RIGHT: 0;
  BOTTOM: 0;
  Z-INDEX: -1;
  POSITION: ABSOLUTE;
  TRANSFORM: ROTATE(90DEG);
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.SIDE_TEXT P {
  FONT-SIZE: 14PX;
  FONT-WEIGHT: 600;
  FONT-FAMILY: "INTER", SANS-SERIF;
}
SECTION.MAIN_SECTION DIV.CONTENTS_SECTION DIV.CONTAINERS DIV.SIDE_TEXT P::BEFORE {
  CONTENT: "";
  WIDTH: 75%;
  HEIGHT: 2PX;
  LEFT: -130PX;
  DISPLAY: BLOCK;
  POSITION: ABSOLUTE;
  BACKGROUND-COLOR: #000000;
  PADDING-RIGHT: 40PX;
}

* {
  MARGIN: 0;
  PADDING: 0;
  OUTLINE: NONE;
  BOX-SIZING: BORDER-BOX;
  FONT-FAMILY: "POPPINS", SANS-SERIF;
}

HTML::-webkit-scrollbar {
  display: none;
}

A {
  COLOR: #000;
  TEXT-DECORATION: NONE;
}

LI {
  LIST-STYLE: NONE;
}

DIV.NAVIGATION_CONTAINERS {
  WIDTH: 1250PX;
  MARGIN: 0 AUTO;
}

DIV.CONTAINERS {
  WIDTH: 1250PX;
  MARGIN: 0 AUTO;
}/*# sourceMappingURL=custom.style.css.map */