@use "COMPONENT/MIXIN";
@use "COMPONENT/VARIABLE";

SECTION.ABOUT_SECTION {
    PADDING: 100PX 0;
    BORDER-BOTTOM: 2PX SOLID #000000;

    DIV.CONTAINERS {
        DIV.CONTENTS_SECTION {
            @include MIXIN.DISPLAY_STYLE(SPACE-BETWEEN);

            DIV.RIGHT_SECTION {
                PADDING-RIGHT: 30PX;

                DIV.TITLE_SECTION {
                    P.TITLE {
                        FONT-SIZE: 100PX;
                        FONT-WEIGHT: 900;
                        LINE-HEIGHT: 90PX;
                        FONT-FAMILY: "INTER", SANS-SERIF;
                    }
                }
            }

            DIV.LEFT_SECTION {
                PADDING-LEFT: 30PX;

                DIV.TITLE_SECTION {
                    P.TITLE {
                        FONT-SIZE: 32PX;
                        FONT-WEIGHT: 800;
                        TEXT-ALIGN: JUSTIFY;
                        FONT-FAMILY: "INTER", SANS-SERIF;
                    }
                }

                DIV.TEXT_SECTION {
                    PADDING-TOP: 25PX;

                    P.DESCRIPTION {
                        OPACITY: 0.9;
                        PADDING: 10PX 0;
                        FONT-SIZE: 18PX;
                        FONT-WEIGHT: 400;
                        TEXT-ALIGN: JUSTIFY;
                    }

                    DIV.LINE {
                        WIDTH: 100%;
                        HEIGHT: 2PX;
                        MARGIN-TOP: 30PX;
                        BACKGROUND-COLOR: #000000;
                    }

                    DIV.SUB_TITLE_SECTION {
                        PADDING-TOP: 35PX;
                        PADDING-BOTTOM: 15PX;

                        P.SUB_TITLE {
                            OPACITY: 0.7;
                            FONT-SIZE: 18PX;
                            FONT-WEIGHT: 700;
                            TEXT-ALIGN: JUSTIFY;
                            FONT-FAMILY: "INTER", SANS-SERIF;
                        }
                    }
                }
            }
        }
    }
}