@use "COMPONENT/MIXIN";
@use "COMPONENT/VARIABLE";

SECTION.NAVIGATION {
    PADDING: 15PX 0;
    BORDER-BOTTOM: 2PX SOLID #000000;

    DIV.NAVIGATION_CONTAINERS {
        NAV.NAV {
            @include MIXIN.DISPLAY_STYLE(SPACE-BETWEEN);

            DIV.NAV_LOGO {
                FONT-SIZE: 24PX;
                FONT-WEIGHT: 700;
                LETTER-SPACING: -0.5PX;

                &:HOVER {
                    FONT-STYLE: ITALIC;
                }
            }

            UL.NAV_MENU {
                @include MIXIN.DISPLAY_STYLE(CENTER);

                LI.NAV_MENU_ELEMENT {
                    MARGIN: 0 15PX;

                    &:NTH-CHILD(1) {
                        MARGIN-LEFT: 0;
                    }

                    &:LAST-CHILD {
                        MARGIN-RIGHT: 0;
                    }

                    A {
                        FONT-SIZE: 15PX;
                        FONT-WEIGHT: 600;
                        LETTER-SPACING: 1.5PX;

                        &:HOVER {
                            COLOR: VARIABLE.$MAIN_COLORS;
                        }
                    }
                }
            }
        }
    }
}